.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(123, 173, 157);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.del {
      background-color: rgb(194, 157, 57);
    }
  }

  .btn:hover {
    background-color: #458ba0;
  }
  
  .btn:active {
    background-color: #3e6b8e;
  }

.del {
  background-color: rgb(194, 157, 57);
}